<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Entrada:</h4>
            <ngx-codemirror
                #codemirror
                [options]="OptionsCode"
                [(ngModel)]="code"
                style="width: auto; height: auto; resize: none;"
            >
            </ngx-codemirror>
            <br>
            <button type="button" class="btn btn-info" (click)="ejecutar()">Ejecutar</button>
            &nbsp;
            &nbsp;
            <button type="button" class="btn btn-light" *ngIf="hayarbol==true" (click)="dibujar()">Mostar AST</button>
            <button type="button" class="btn btn-danger" *ngIf="hayerrores==true">Mostrar Errores</button>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Terminal:</h4>
        &nbsp;
        <ngx-codemirror
          #codemirror
          name="terminal"
          [(ngModel)]="terminal"
          [options] = "OptionsTerminal"
        ></ngx-codemirror>
      </div>
    </div>
  </div>

  <div id="salida3d">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Codigo en 3 Direcciones:</h4>
          &nbsp;
          <ngx-codemirror
          #codemirror
          name = "codigo3d"
          [(ngModel)]="codigo3d"
          [options] = "Options3D">
          </ngx-codemirror>
        </div>
      </div>
    </div>
  </div>

  <div id="contenedor">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="arboldiv" style="width: auto; height: 600px; border: 1px solid black;">
    
        </div>
      </div>
    </div>
  </div>
